pc_connect_warehouse_yellowcube/xsd/YellowCube_BUR_RESPONSE_GoodsMovements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Die Schweizerische Post (Die Schweizerische Post) -->
<!-- POST CH AG, Postlogitiscs, YellowCube - BUR-Outbound - XML-StructureDefinition -->
<!-- Based on V01.07 - HES    22.1.2015 BestBefore and ProductionDate wie bei BAR - Anpassung im Handbuch V01.04 -->
<!--    				                                                     	                     -->
<!--  ***   			Outbound BUR - GoodsMovements   -->
<!--  ***  SOAP-BUR  V01.00	28.04.2015  Initial-Version for SOAP                     -->
<!--  ***  SOAP-BUR	V01.01	02.08.2016    			-->
<!--  ***  SOAP-BUR	V01.02	17.10.2016  MoveReason in Schema aufgenommen-->
<xs:schema xmlns:burr="https://service.swisspost.ch/apache/yellowcube/YellowCube_BUR_RESPONSE_GoodsMovements.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="https://service.swisspost.ch/apache/yellowcube/YellowCube_BUR_RESPONSE_GoodsMovements.xsd">
	<xs:element name="BUR_List">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="burr:BUR" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BUR">
		<xs:annotation>
			<xs:documentation>Meldung: Bestandesumbuchung (goods movements) - Log über Datenbewegungen</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="burr:ControlReference"/>
				<xs:element ref="burr:GoodsMovements"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ControlReference">
		<xs:annotation>
			<xs:documentation>Container für Kontrolldatensatz</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="burr:Type">
					<xs:annotation>
						<xs:documentation>Typ - BUR</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:Sender">
					<xs:annotation>
						<xs:documentation>Absender = YellowCube or LOGOS</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:Receiver">
					<xs:annotation>
						<xs:documentation>Empfänger</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:Timestamp">
					<xs:annotation>
						<xs:documentation>Zeitstempel - JJJJMMTThhmmss</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:OperatingMode">
					<xs:annotation>
						<xs:documentation>T=Test / P=Production 7 D=Development</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:Version">
					<xs:annotation>
						<xs:documentation>Schnittstellenversion</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Type">
		<xs:annotation>
			<xs:documentation>BUR</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="6"/>
				<xs:whiteSpace value="collapse"/>
				<xs:enumeration value="BUR"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Sender">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="YELLOWCUBE"/>
				</altova:exampleValues>
			</xs:appinfo>
			<xs:documentation>Quellsystem YELLOWCUBE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
				<xs:enumeration value="YELLOWCUBE"/>
				<xs:enumeration value="LOGOS"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Receiver">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Testshop77"/>
					<altova:example value="Easyshop7"/>
					<altova:example value="Alüöäéèê1z"/>
				</altova:exampleValues>
			</xs:appinfo>
			<xs:documentation>Sender-Id des Distanzhändlers (Merchant)</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="([A-Z0-9]{1}(\p{Ll}{1,9}|[0-9]){1,9})|(YCTest)|(Yctest)
"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Timestamp">
		<xs:annotation>
			<xs:documentation>20150105101500</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="20150105101500"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:totalDigits value="14"/>
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="((2[0-9][0-9][0-9])|(1[0-9][0-9][0-9]))((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1]))((0[0-9])|(1[0-9])|(2[0-3]))([0-5][0-9][0-5][0-9])"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OperatingMode">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="T"/>
				</altova:exampleValues>
			</xs:appinfo>
			<xs:documentation>P (or T or D)</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="1"/>
				<xs:whiteSpace value="collapse"/>
				<xs:enumeration value="T"/>
				<xs:enumeration value="P"/>
				<xs:enumeration value="D"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Version">
		<xs:annotation>
			<xs:documentation>1.0</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1.0"/>
					<altova:example value="1.1"/>
					<altova:example value="1.2"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="3"/>
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="([1-9]{1}[\.]{1}[0-9]{1})"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GoodsMovements">
		<xs:annotation>
			<xs:documentation>Bewegungs-Log der Lagerbereiche innerhalb YellowCube</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="burr:GoodsMovementsHeader"/>
				<xs:element ref="burr:BookingList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GoodsMovementsHeader">
		<xs:annotation>
			<xs:documentation>Container für Kopfdaten</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="burr:BookingVoucherID"/>
				<xs:element ref="burr:BookingVoucherYear"/>
				<xs:element ref="burr:DepositorNo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BookingVoucherID">
		<xs:annotation>
			<xs:documentation>Material-Beleg ID innerhalb des YellowCube-Lagers</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BookingVoucherYear">
		<xs:annotation>
			<xs:documentation>Jahr des Material-Beleges im Format JJJJ</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="2015"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
				<xs:pattern value="(2[0-9][0-9][0-9])"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DepositorNo">
		<xs:annotation>
			<xs:documentation>Kontonummer des Distanzhändlers (Merchant) z.B. 0000040021</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BookingList">
		<xs:annotation>
			<xs:documentation>Container für mehrere Lager-Belege</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="burr:BookingDetail" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BookingDetail">
		<xs:annotation>
			<xs:documentation>Container für einen Detail-Beleg</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="burr:BVPosNo"/>
				<xs:element ref="burr:YCArticleNo">
					<xs:annotation>
						<xs:documentation>Interne YellowCube ArtikelNummer</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:ArticleNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Artikelnummer des Distanzhändlers</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:EAN" minOccurs="0">
					<xs:annotation>
						<xs:documentation>EAN-Nummer des Artikels</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:Plant">
					<xs:annotation>
						<xs:documentation>Lager-ID als Werk-ID gemäss Profil des Distanzhändlers</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:StorageLocation">
					<xs:annotation>
						<xs:documentation>Verkaufs-Mengeneinheit in ISO-Code. Werte gemäss gültiger, mit Kunde vereinbarter Verkaufsmengenheinheiten</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:MovePlant" minOccurs="0"/>
				<xs:element ref="burr:MoveStorageLocation" minOccurs="0"/>
				<xs:element ref="burr:YCLot" minOccurs="0"/>
				<xs:element ref="burr:Lot" minOccurs="0"/>
				<xs:element ref="burr:BestBeforeDate" minOccurs="0"/>
				<xs:element ref="burr:ProductionDate" minOccurs="0"/>
				<xs:element ref="burr:MoveReason" minOccurs="0"/>
				<xs:element ref="burr:TransactionType">
					<xs:annotation>
						<xs:documentation>Bewegungsart (Bestandsführung) gemäss Werteliste.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:StockType"/>
				<xs:element ref="burr:QuantityUOM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BVPosNo">
		<xs:annotation>
			<xs:documentation>Position intern auf dem Buchungsbeleg</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="000001"/>
					<altova:example value="000002"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="6"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="YCArticleNo">
		<xs:annotation>
			<xs:documentation>YellowCube Artikelnummer</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="18"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ArticleNo">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="12345678901234567890123456789012345"/>
					<altova:example value="234556/212323-21/S/M"/>
					<altova:example value=""/>
				</altova:exampleValues>
			</xs:appinfo>
			<xs:documentation>Kunden-Artikel-Nummer (KundenMaterial)</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="35"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EAN">
		<xs:annotation>
			<xs:documentation>EAN-Nummer des Artikels</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value=""/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="18"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Plant">
		<xs:annotation>
			<xs:documentation>Lager-ID als Werk-ID gemäss Profil des Distanzhändlers</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Y005"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
				<xs:minLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="StorageLocation">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="YAFS"/>
					<altova:example value="YROD"/>
				</altova:exampleValues>
			</xs:appinfo>
			<xs:documentation>LagerBereich YROD=YC Received on Dock
YAFS=YC Available for Sales</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MovePlant">
		<xs:annotation>
			<xs:documentation>Lager-ID als Werk-ID des Abgebendes/Empfangeden Werkes gemäss Profil des Distanzhändlers</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Y005"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MoveStorageLocation">
		<xs:annotation>
			<xs:documentation>Lagerbereich als Ziel-/Quell-Lagerort: YROD=YC Received on Dock
YAFS=YC Available for Sales</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="YROD"/>
					<altova:example value="YAFS"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="YCLot">
		<xs:annotation>
			<xs:documentation>Interne Chargennummer von YellowCube</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Lot">
		<xs:annotation>
			<xs:documentation>Chargennummer des Herstellers,
falls vom DH als chargenpflichtig definiert</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BestBeforeDate">
		<xs:annotation>
			<xs:documentation>Mindesthaltbarkeits-Datum im Format JJJJMMTT</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="20150122"/>
					<altova:example value="19990101"/>
					<altova:example value="20160531"/>
					<altova:example value=""/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="(((2[0-9][0-9][0-9])|(1[0-9][0-9][0-9]))((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1])))?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ProductionDate">
		<xs:annotation>
			<xs:documentation>Produktions-Datum im Format JJJJMMTT</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="20150122"/>
					<altova:example value=""/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="(((2[0-9][0-9][0-9])|(1[0-9][0-9][0-9]))((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1])))?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element name="MoveReason">
		<xs:annotation>
			<xs:documentation>Codiert den Lageränderungs grund, etweder 0001,0002,0003 oder 0004</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TransactionType">
		<xs:annotation>
			<xs:documentation>Bewegungsarten-Codes gem. Anhang 4.11.2 und Tabelle 6.1 aus Interface-HB(SPEC)</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="101"/>
					<altova:example value="411"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="StockType">
		<xs:annotation>
			<xs:documentation>Bestandsart gemäss Liste
X - Qualitätsprüfung
S - Gesperrt
2 - Qualitätsprüfung
3 - Gesperrt
0 oder „ „ - Frei verwendbar
F - Frei verwendbar</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="QuantityUOM">
		<xs:annotation>
			<xs:documentation>Anzahl in der Mengen-Einheit</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="burr:Float13v3">
					<xs:attribute name="QuantityISO" use="required">
						<xs:annotation>
							<xs:appinfo>
								<altova:exampleValues>
									<altova:example value="PCE"/>
								</altova:exampleValues>
							</xs:appinfo>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="3"/>
								<xs:minLength value="1"/>
								<xs:whiteSpace value="collapse"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<!-- *****   Common datatypes for YellowCube   *****  -->
	<!--Float13v3 - DataType intern (Quant 13.3)-->
	<xs:simpleType name="Float13v3">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1234567890.123"/>
					<altova:example value="12"/>
				</altova:exampleValues>
			</xs:appinfo>
			<xs:documentation>FlieskommaZahl type quantum13.3 Bsp. 1234567890.123 (totalDigits="13" fractionDigits="3")</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
			<xs:totalDigits value="13"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
