pc_connect_warehouse_yellowcube/xsd/YellowCube_WEA_Delivery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Die Schweizerische Post (Die Schweizerische Post) -->
<!--W3C Schema generated by XMLSpy v2012 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="WEA">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ControlReference"/>
				<xs:element ref="Delivery"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Version">
		<xs:annotation>
			<xs:documentation>Absender</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="6"/>
				<xs:enumeration value="WEA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Timestamp">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:totalDigits value="14"/>
				<xs:pattern value="((2[0-9][0-9][0-9])|(1[0-9][0-9][0-9]))((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1]))((0[0-9])|(1[0-9])|(2[0-3]))([0-5][0-9][0-5][0-9])"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Position">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PosNo">
					<xs:annotation>
						<xs:documentation>Positions-Nummer. Je Position ein Datensatz. Vorschlag der Positionssequenz 10, 20, 30</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="ArticleNo">
					<xs:annotation>
						<xs:documentation>Artikelnummer des Kunden</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="EAN" minOccurs="0"/>
				<xs:element ref="QuantitySalesUOM"/>
				<xs:element ref="DeliveryBasicUOM"/>
				<xs:element ref="YCLot" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Interne Chargennummer von YellowCube</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Lot" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Chargennummer des Herstellers</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="BestBeforeDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Mindesthaltbarkeits-Datum (MHD) im Format JJJJMMTT (ExperyDate – EXP-Dat)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="SerialNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seriennummer muss beim Kommissionieren aus dem YellowCube vom Mitarbeiter erfasst (gescant) werden.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Partner">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PartnerType">
					<xs:annotation>
						<xs:documentation>LI=Lieferant (Im Standard YellowCube wird nur eine Partnerrolle neben dem Aufgeber unterstützt.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="PartnerNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Partner-ID gemäss Anmeldung Yellow-Cube,</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="PartnerReference" minOccurs="0"/>
				<xs:element ref="Title" minOccurs="0"/>
				<xs:element ref="Name1"/>
				<xs:element ref="Name2" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Name2 Zusatz</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Name3" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Name3 Zusatz</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Name4" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Name4 Zusatz</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Street">
					<xs:annotation>
						<xs:documentation>Strasse inkl. Hausnummer</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="CountryCode"/>
				<xs:element ref="ZIPCode"/>
				<xs:element ref="City"/>
				<xs:element ref="POBox" minOccurs="0"/>
				<xs:element ref="PhoneNo" minOccurs="0"/>
				<xs:element ref="MobileNo" minOccurs="0"/>
				<xs:element ref="FaxNo" minOccurs="0"/>
				<xs:element ref="Email" minOccurs="0"/>
				<xs:element ref="LanguageCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartnerType">
		<xs:annotation>
			<xs:documentation>LI=Lieferant (Im Standard YellowCube wird nur eine Partnerrolle neben dem Aufgeber unterstützt.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PartnerNo">
		<xs:annotation>
			<xs:documentation>Partner-ID gemäss Anmeldung Yellow-Cube,</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PartnerReference">
		<xs:annotation>
			<xs:documentation>ID – Einmal-Lieferant des Distanzhändlers. Zusammen mit (DepositorNo) eindeutig.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Title">
		<xs:annotation>
			<xs:documentation>Anrede</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Name1">
		<xs:annotation>
			<xs:documentation>Name</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Name2">
		<xs:annotation>
			<xs:documentation>Name2 Zusatz</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Name3">
		<xs:annotation>
			<xs:documentation>Name3 Zusatz</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Name4">
		<xs:annotation>
			<xs:documentation>Name4 Zusatz</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Street">
		<xs:annotation>
			<xs:documentation>Strasse inkl. Hausnummer</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CountryCode">
		<xs:annotation>
			<xs:documentation>Ländercode nach ISO-CountryCode ISO 3166-1</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ZIPCode">
		<xs:annotation>
			<xs:documentation>Postleitzahl, in der Schweiz 4-stellig.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
				<xs:minLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="City">
		<xs:annotation>
			<xs:documentation>Ort</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="POBox">
		<xs:annotation>
			<xs:documentation>Postfach</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PhoneNo">
		<xs:annotation>
			<xs:documentation>Telefon Nummer</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="16"/>
				<xs:minLength value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MobileNo">
		<xs:annotation>
			<xs:documentation>Mobile Nummer</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="16"/>
				<xs:minLength value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FaxNo">
		<xs:annotation>
			<xs:documentation>FaxNo Nummer</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="16"/>
				<xs:minLength value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SMSAvisMobNo">
		<xs:annotation>
			<xs:documentation>FaxNo Nummer</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="16"/>
				<xs:minLength value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Email">
		<xs:annotation>
			<xs:documentation>Email-Adresse des Partners</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
				<xs:minLength value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LanguageCode">
		<xs:annotation>
			<xs:documentation>SprachCode der Partner-Adresse gemäss ISO, 2-stellig</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
				<xs:minLength value="2"/>
				<xs:enumeration value="de"/>
				<xs:enumeration value="it"/>
				<xs:enumeration value="fr"/>
				<xs:enumeration value="en"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DeliveryNotePositions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Position" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartnerAddress">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Partner" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeliveryNoteID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DepositorOrderDate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
				<xs:pattern value="(2[0-9][0-9][0-9])((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1]))"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DepositorNo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DepositorOrderNo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DeliveryHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DepositorNo">
					<xs:annotation>
						<xs:documentation>Distanzhändler-ID gemäss Anmeldung Yellow-Cube</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Plant"/>
				<xs:element ref="DepositorOrderNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Bestell-Nr. des Distanzhändlers</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="DepositorOrderDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Datum im Format JJJJMMTT</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="EstimatedDeliveryDate">
					<xs:annotation>
						<xs:documentation>Geplanter Liefertermin
Datum im Format JJJJMMTT</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="DeliveryNoteID">
					<xs:annotation>
						<xs:documentation>Fremdlieferschein Nummer</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="SupplierOrderNo">
					<xs:annotation>
						<xs:documentation>Bestell-Nummer des Lieferanten (Im Interface WBL avisierte Lieferanten-Bestellung des Einlieferers)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="DeliveryHUID">
					<xs:annotation>
						<xs:documentation>ID der HU, SSCC-Nummer des Lieferanten</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="TotalDeliveryWeightHU" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Total-Gewicht der Handlings-Unit</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="LoadWeightHU" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Total-Ladegewicht der Handlings-Unit</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Delivery">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DeliveryHeader"/>
				<xs:element ref="DeliveryNotePositions"/>
				<xs:element ref="PartnerAddress"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeliveryHUID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BestBeforeDate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
				<xs:pattern value="(2[0-9][0-9][0-9])((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1]))"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SerialNo">
		<xs:annotation>
			<xs:documentation>Seriennummer muss beim Kommissionieren aus dem YellowCube vom Mitarbeiter erfasst (gescant) werden.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EstimatedDeliveryDate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
				<xs:pattern value="(2[0-9][0-9][0-9])((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1]))"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Receiver">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:enumeration value="YELLOWCUBE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Sender">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SupplierOrderNo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="QuantityISO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="2"/>
				<xs:maxLength value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Quantity">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PosText">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="132"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PosNo">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TotalDeliveryWeightHU">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="Float13v3">
					<xs:attribute name="ISO" use="required">
						<xs:annotation>
							<xs:documentation>ISO-MengenEinheit</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="2"/>
								<xs:maxLength value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeliveryBasicUOM">
		<xs:annotation>
			<xs:documentation>Verpackte Basismenge in der Handlings-Unit Position</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:integer">
					<xs:attribute name="ISO" use="required">
						<xs:annotation>
							<xs:documentation>ISO-MengenEinheit</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="2"/>
								<xs:maxLength value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="QuantitySalesUOM">
		<xs:annotation>
			<xs:documentation>Verkaufsmenge</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="Float13v3">
					<xs:attribute name="UOM">
						<xs:annotation>
							<xs:documentation>MengenEinheit gem. Lieferant</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="2"/>
								<xs:maxLength value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ISO">
						<xs:annotation>
							<xs:documentation>Mengeneinheiten als ISO-Codes gemäss Liste</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="2"/>
								<xs:maxLength value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EAN">
		<xs:annotation>
			<xs:documentation>EAN (European Article Number) 13 stellig. Falls anderer Typ, bitte kennzeichnen.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:normalizedString">
					<xs:attribute name="EANType">
						<xs:annotation>
							<xs:documentation>Typ des EAN-Codes. Wenn möglich wird „HE“ d.h. Hersteller-EAN 13-stellig erwartet. Default „HE“.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="LoadWeightHU">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="Float13v3">
					<xs:attribute name="ISO" use="required">
						<xs:annotation>
							<xs:documentation>ISO-MengenEinheit</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="2"/>
								<xs:maxLength value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Plant">
		<xs:annotation>
			<xs:documentation>Lager-ID als Werk-ID gemäss
Profil des Distanzhändlers</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OperatingMode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="1"/>
				<xs:enumeration value="T"/>
				<xs:enumeration value="P"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Lot">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="YCLot">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ControlReference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Type">
					<xs:annotation>
						<xs:documentation>Typ - WEA</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Sender">
					<xs:annotation>
						<xs:documentation>Absender</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Receiver">
					<xs:annotation>
						<xs:documentation>Empfänger YELLOWCUBE</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Timestamp">
					<xs:annotation>
						<xs:documentation>Zeitstempel - JJJJMMTThhmmss</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="OperatingMode">
					<xs:annotation>
						<xs:documentation>T=Test / P=Production</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Version">
					<xs:annotation>
						<xs:documentation>Schnittstellenversion</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ArticleNo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="35"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="Float13v3">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Float13v3-->
</xs:schema>
