pc_connect_warehouse_yellowcube_soap/wsdl_offline/YellowCube_BUR_RESPONSE_GoodsMovements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Die Schweizerische Post (Die Schweizerische Post) -->
<!-- 	===========================================================	-->
<!--   ***   WSDL YellowCube -  	(c) Swiss Post Ltd., CH - 3030 Berne				-->
<!--   ***   Version 1.00 05.01.2015                                                    -->
<!--   ***                                                                              -->
<!--   ***   1.00 initial version                                                       -->
<!--   ***   1.07 no changes  -->
<xs:schema xmlns:burr="https://service.swisspost.ch/apache/yellowcube/YellowCube_BUR_RESPONSE_GoodsMovements.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="https://service.swisspost.ch/apache/yellowcube/YellowCube_BUR_RESPONSE_GoodsMovements.xsd">
	<xs:element name="BUR_List">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="burr:BUR" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BUR">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="burr:ControlReference"/>
				<xs:element ref="burr:GoodMovement"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Version">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1.0"/>
					<altova:example value="1.1"/>
					<altova:example value="1.2"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="3"/>
				<xs:pattern value="([1-9]{1}[\.]{1}[0-9]{1})"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Type">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="BUR"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="6"/>
				<xs:enumeration value="BUR"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Timestamp">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="20150910135959"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:totalDigits value="14"/>
				<xs:pattern value="((2[0-9][0-9][0-9])|(1[0-9][0-9][0-9]))((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1]))((0[0-9])|(1[0-9])|(2[0-3]))([0-5][0-9][0-5][0-9])"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerOrderList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="burr:CustomerOrderDetail" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BVNoYear">
		<xs:annotation>
			<xs:documentation>Jahr des Material-Beleges im Format JJJJ</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BookingVoucherYear">
		<xs:annotation>
			<xs:documentation>Jahr des Material-Beleges im Format JJJJ</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GoodMovementHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="burr:BookingVoucherID"/>
				<xs:element ref="burr:BookingVoucherYear"/>
				<xs:element ref="burr:DepositorNo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerOrderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="burr:YCDeliveryNo"/>
				<xs:element ref="burr:YCDeliveryDate"/>
				<xs:element ref="burr:CustomerOrderNo"/>
				<xs:element ref="burr:CustomerOrderDate"/>
				<xs:element ref="burr:PostalShipmentNo"/>
				<xs:element ref="burr:PartnerReference" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GoodMovement">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="burr:GoodMovementHeader"/>
				<xs:element ref="burr:CustomerOrderHeader"/>
				<xs:element ref="burr:CustomerOrderList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BVPosNo">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Sender">
		<xs:annotation>
			<xs:documentation>Absender</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="YELLOWCUBE"/>
					<altova:example value="LOGOS"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="([A-Z]{1,10})"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Receiver">
		<xs:annotation>
			<xs:documentation>Absender</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Easyshop77"/>
					<altova:example value="Testshop05"/>
					<altova:example value="Alpha1"/>
					<altova:example value="YCTest"/>
					<altova:example value="Yctest"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="([A-Z0-9]{1}[a-z0-9]{1,9})|(YCTest)|(Yctest)"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerNo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PostalShipmentNo">
		<xs:annotation>
			<xs:documentation>Sendungsnummer des
Postpaketes (18-stellige
Paketnummer) oder Sendungs-Nr
für die Stückgut-Sendung.Bei
mehreren Sendungen je Auftrag,
durch „;“ (semicolon) unterteilt.</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="990012345612345678;"/>
					<altova:example value="990012345612345678;990012345612345679;"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerOrderNo">
		<xs:annotation>
			<xs:documentation>Bestellnummer des Kunden</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerOrderDate">
		<xs:annotation>
			<xs:documentation>Bestelldatum des Kunden</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
				<xs:pattern value="(2[0-9][0-9][0-9])((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1]))"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="YCDeliveryDate">
		<xs:annotation>
			<xs:documentation>Erstell-Datum der Auslieferung im
Format JJJJMMTT. Dieses Datum
ist auf dem YC-Lieferschein als
Erstellungsdatum dokumentiert.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
				<xs:pattern value="(2[0-9][0-9][0-9])((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1]))"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerOrderPosNo">
		<xs:annotation>
			<xs:documentation>Positions-Nummer der Kunden-
Bestellung</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="000010"/>
					<altova:example value="000020"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="StorageLocation">
		<xs:annotation>
			<xs:documentation>Lagerbereich als Ziel-/Quell-
Lagerort:
YROD=YC Received on Dock
YAFS=YC Available for Sales</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="YCLot">
		<xs:annotation>
			<xs:documentation>Interne Chargennummer von YellowCube</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Lot">
		<xs:annotation>
			<xs:documentation>Chargennummer des Herstellers,
falls vom DH als chargenpflichtig definiert</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ReturnReason">
		<xs:annotation>
			<xs:documentation>Retouren-Grund gemäss YC-Retouren-Code-Liste (siehe WAB)
z.B. «R06» - Anderer Artikel geliefert als bestellt.</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="R06"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MovePlant">
		<xs:annotation>
			<xs:documentation>Lager-ID als Werk-ID des Abgebendes/Empfangeden Werkes gemäss Profil des Distanzhändlers</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MoveStorageLocation">
		<xs:annotation>
			<xs:documentation>Lagerbereich als Ziel-/Quell-Lagerort: YROD=YC Received on Dock
YAFS=YC Available for Sales</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Plant">
		<xs:annotation>
			<xs:documentation>Lager-ID als Werk-ID gemäss Profil des Distanzhändlers</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerOrderDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="burr:BVPosNo">
					<xs:annotation>
						<xs:documentation>Positions-Nummer. Je Position ein Datensatz. Vorschlag der Positionssequenz 10, 20, 30</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:CustomerOrderPosNo"/>
				<xs:element ref="burr:YCArticleNo">
					<xs:annotation>
						<xs:documentation>Interne YellowCube ArtikelNummer</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:ArticleNo" minOccurs="0"/>
				<xs:element ref="burr:EAN" minOccurs="0"/>
				<xs:element ref="burr:Lot" minOccurs="0"/>
				<xs:element ref="burr:Plant">
					<xs:annotation>
						<xs:documentation>Lager-ID als Werk-ID gemäss Profil des Distanzhändlers</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:StorageLocation"/>
				<xs:element ref="burr:TransactionType">
					<xs:annotation>
						<xs:documentation>Bewegungsart (Bestandsführung) gemäss Werteliste.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:StockType"/>
				<xs:element ref="burr:QuantityUOM"/>
				<xs:element ref="burr:ReturnReason" minOccurs="0"/>
				<xs:element ref="burr:SerialNumbers" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TransactionType">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BookingVoucherID">
		<xs:annotation>
			<xs:documentation>Material-Beleg ID innerhalb des YellowCube-Lagers</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DepositorNo">
		<xs:annotation>
			<xs:documentation>Kontonummer des
Distanzhändlers (Einlieferer)</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="0000010324"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="YCDeliveryNo">
		<xs:annotation>
			<xs:documentation>YC-Auftragsnummer aus dem EWM-System, welche auch auf dem Liefer- und Retourenschein als Barcode aufgedruckt wird.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OperatingMode">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="T"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="1"/>
				<xs:enumeration value="T"/>
				<xs:enumeration value="P"/>
				<xs:enumeration value="D"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EAN">
		<xs:annotation>
			<xs:documentation>EAN-Nummer des Artikels</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="7610123456789012"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="18"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SupplierID">
		<xs:annotation>
			<xs:documentation>Kontonummer des Lieferanten</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ControlReference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="burr:Type">
					<xs:annotation>
						<xs:documentation>Typ - BUR</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:Sender">
					<xs:annotation>
						<xs:documentation>Absender</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:Receiver">
					<xs:annotation>
						<xs:documentation>Empfänger</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:Timestamp">
					<xs:annotation>
						<xs:documentation>Zeitstempel - JJJJMMTThhmmss</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:OperatingMode">
					<xs:annotation>
						<xs:documentation>T=Test / P=Production / D=Development</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="burr:Version">
					<xs:annotation>
						<xs:documentation>Schnittstellenversion</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="YCArticleNo">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Y005100000"/>
					<altova:example value="Y005100001"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="18"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SerialNumbers">
		<xs:annotation>
			<xs:documentation>Seriennummern, Array mit jeweils
max 35-stelligen Seriennummern
je Position.
Maximal wird eine Seriennummer
je Menge (QuantityUOM) bei der
Kommissionierung erfasst und
zurückgemeldet. Mehrere
Einträge werden durch „;“
(semicolon) unterteilt.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PartnerReference">
		<xs:annotation>
			<xs:documentation>Kundenreferenz des Waren-
Empfängers. Gilt als Adress-ID
des Distanzhändlers.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderNo">
		<xs:annotation>
			<xs:documentation>Bestellnummer</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderPosNo">
		<xs:annotation>
			<xs:documentation>Positions-Nummer der Bestellung</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EndOfDeliveryFlag">
		<xs:annotation>
			<xs:documentation>Endlieferungskennzeichen. 1=Lieferabschluss
0=Noch weitere Positionen???</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ArticleNo">
		<xs:annotation>
			<xs:documentation>Artikelnummer des
Distanzhändlers</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="StockType">
		<xs:annotation>
			<xs:documentation>Bestandsart gemäss Liste
X - Qualitätsprüfung
S - Gesperrt
2 - Qualitätsprüfung
3 - Gesperrt
0 oder „ „ - Frei verwendbar
F - Frei verwendbar</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="StorageType">
		<xs:annotation>
			<xs:documentation>Bestandsart gemäss Liste
X - Qualitätsprüfung
S - Gesperrt
2 - Qualitätsprüfung
3 - Gesperrt
0 oder „ „ - Frei verwendbar
F - Frei verwendbar</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Quantity">
		<xs:annotation>
			<xs:documentation>Menge</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="QuantityUOM">
		<xs:annotation>
			<xs:documentation>Anzahl in der Mengen-Einheit</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="burr:Float13v3">
					<xs:attribute name="QuantityISO" use="required">
						<xs:annotation>
							<xs:appinfo>
								<altova:exampleValues>
									<altova:example value="PCE"/>
								</altova:exampleValues>
							</xs:appinfo>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Float13v3">
		<xs:annotation>
			<xs:documentation>FlieskommaZahl type quantum13.3 Bsp. 1234567890.123 (totalDigits="13" fractionDigits="3")</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1234567890.123"/>
					<altova:example value="1"/>
					<altova:example value="2"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="13"/>
			<xs:fractionDigits value="3"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Float13v3-->
</xs:schema>
