pc_connect_warehouse_yellowcube_soap/wsdl_offline/YellowCube_WBL_REQUEST_SupplierOrders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Die Schweizerische Post (Die Schweizerische Post) -->
<!-- 	===========================================================	-->
<!--   ***   WSDL YellowCube -  	(c) Swiss Post Ltd., CH - 3030 Berne				-->
<!--   ***   Version 1.00 05.01.2015                                                    -->
<!--   ***                                                                              -->
<!--   ***   1.00 initial version                                                       -->
<!--   ***   1.08 SupplierOrderDate and DeliveryDate  -->
<!--   ***   1.09 SupplierName and Address if not Depositor/Contractor-Default -->
<!--   ***   1.10 Fix DepositorNo  -->
<xs:schema xmlns:wbl="https://service.swisspost.ch/apache/yellowcube/YellowCube_WBL_REQUEST_SupplierOrders.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="https://service.swisspost.ch/apache/yellowcube/YellowCube_WBL_REQUEST_SupplierOrders.xsd" elementFormDefault="qualified">
	<xs:element name="WBL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wbl:ControlReference"/>
				<xs:element ref="wbl:SupplierOrder"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Version">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1.0"/>
					<altova:example value="1.1"/>
					<altova:example value="2.1"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="3"/>
				<xs:pattern value="([1-9]{1}[\.]{1}[0-9]{1})"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Type">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="WBL"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="6"/>
				<xs:whiteSpace value="collapse"/>
				<xs:enumeration value="WBL"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Timestamp">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="20141118235959"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:totalDigits value="14"/>
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="((2[0-9][0-9][0-9])|(1[0-9][0-9][0-9]))((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1]))((0[0-9])|(1[0-9])|(2[0-3]))([0-5][0-9][0-5][0-9])"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SupplierOrderPositions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wbl:Position" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SupplierOrderNo">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="2014-0027"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="20"/>
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SupplierOrderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DepositorNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Kontonummer des Einlieferers</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="1234567890"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="10"/>
							<xs:pattern value="[0-9]{1,10}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Plant">
					<xs:annotation>
						<xs:documentation>Lager-ID als Werk-ID gemäss Profil des Distanzhändlers</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="Y005"/>
								<altova:example value="Y006"/>
								<altova:example value="Y004"/>
								<altova:example value="Y034"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:length value="4"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SupplierNo">
					<xs:annotation>
						<xs:documentation>Kontonummer des Lieferanten gem. YC-Profile Supplier-List (Starts normally with "00002nnnnn"</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="0000200020"/>
								<altova:example value="0000200015"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SupplierName1" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Lieferanten-Adresse Name1</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="35"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SupplierName2" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Lieferanten-Adresse Name2</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="35"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SupplierName3" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Lieferanten-Adresse Name3</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="35"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SupplierStreet" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Lieferanten-Adresse Strasse</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="35"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SupplierCountryCode" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ländercode nach ISO-CountryCode ISO 3166-1</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="CH"/>
								<altova:example value=""/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2"/>
							<xs:whiteSpace value="collapse"/>
							<xs:pattern value="([A-Z,0-9]{2})?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SupplierZIPCode" minOccurs="0">
					<xs:annotation>
						<xs:documentation>LieferantenAdresse: ZIP-Code. (For Swiss NNNN and >999.)</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="8000"/>
								<altova:example value="3000"/>
								<altova:example value=""/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
							<xs:whiteSpace value="collapse"/>
							<xs:pattern value="([A-Z,0-9]{4,9})?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SupplierCity" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Lieferanten-Adresse Ort</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="35"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="wbl:SupplierOrderNo">
					<xs:annotation>
						<xs:documentation>Bestell-Nummer des Lieferanten</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CustomerOrderNo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Kunden-Auftragsnummer bei Crossdocking-Aufträge (Recomanded for CrossDocking Delivery)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:maxLength value="35"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SupplierOrderDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Date as Creation-/Intial-Date of the SupplierOrder</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="20150714"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:length value="8"/>
							<xs:whiteSpace value="collapse"/>
							<xs:pattern value="((2[0-9][0-9][0-9])((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1])))?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SupplierOrderDeliveryDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Date for Predefined Delivery (Must for CrossDocking-Delivery)</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="20150417"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:length value="8"/>
							<xs:whiteSpace value="collapse"/>
							<xs:pattern value="((2[0-9][0-9][0-9])((0[0-9])|(1[0-2]))(([0-2][0-9])|(3[0-1])))?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SupplierOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wbl:SupplierOrderHeader"/>
				<xs:element ref="wbl:SupplierOrderPositions"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sender">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Easyshop77"/>
					<altova:example value="Tradeshop"/>
					<altova:example value="Testshop05"/>
					<altova:example value="YCTest"/>
					<altova:example value="Yctest"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="([A-Z0-9]{1}[a-z0-9]{1,9})|(YCTest)|(Yctest)|(YELLOWCUBE)|(LOGOS)"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Receiver">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="YELLOWCUBE"/>
					<altova:example value="LOGOS"/>
					<altova:example value="CUSTOMER"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="([A-Z]{6,9}|(YELLOWCUBE)|(LOGOS))"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="QuantityISO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="2"/>
				<xs:maxLength value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Quantity">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1234567890.123"/>
					<altova:example value="2323"/>
					<altova:example value="1"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="13"/>
				<xs:fractionDigits value="3"/>
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="[0-9]{1,10}(\.[0-9]{1,3})?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Position">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wbl:PosNo">
					<xs:annotation>
						<xs:documentation>Positions-Nummer. Je Position ein Datensatz. Vorschlag der Positionssequenz 10, 20, 30</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wbl:ArticleNo">
					<xs:annotation>
						<xs:documentation>Artikelnummer des Kunden</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wbl:Quantity">
					<xs:annotation>
						<xs:documentation>Verkaufsmenge</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="QuantityISO">
					<xs:annotation>
						<xs:documentation>Verkaufs-Mengeneinheit in ISO-Code. Werte gemäss gültiger, mit Kunde vereinbarter Verkaufsmengenheinheiten</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="PCE"/>
								<altova:example value="PK"/>
								<altova:example value="BG"/>
								<altova:example value="CA"/>
								<altova:example value="CT"/>
								<altova:example value="PF"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:minLength value="2"/>
							<xs:maxLength value="6"/>
							<xs:whiteSpace value="collapse"/>
							<xs:pattern value="[A-Z0-9]{2,6}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="wbl:PosText" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Positions-Text. 
Comment of the Unit of Delivery</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PosText">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Kopfhörer"/>
					<altova:example value="Eine Palette mit 1500 PCE Headsets"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:normalizedString">
				<xs:maxLength value="132"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PosNo">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="10"/>
					<altova:example value="20"/>
					<altova:example value="30"/>
					<altova:example value="1"/>
					<altova:example value="999999"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="6"/>
				<xs:whiteSpace value="collapse"/>
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="999999"/>
				<xs:pattern value="[0-9]{1,6}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Plant">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OperatingMode">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="T"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="1"/>
				<xs:whiteSpace value="collapse"/>
				<xs:enumeration value="T"/>
				<xs:enumeration value="P"/>
				<xs:enumeration value="D"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Lot">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ControlReference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wbl:Type">
					<xs:annotation>
						<xs:documentation>Typ - WBL</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wbl:Sender">
					<xs:annotation>
						<xs:documentation>Absender</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wbl:Receiver">
					<xs:annotation>
						<xs:documentation>Empfänger YELLOWCUBE oder LOGOS or other Warehouses</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wbl:Timestamp">
					<xs:annotation>
						<xs:documentation>Zeitstempel - JJJJMMTThhmmss</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wbl:OperatingMode">
					<xs:annotation>
						<xs:documentation>T=Test / P=Production / D=Development</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wbl:Version">
					<xs:annotation>
						<xs:documentation>Schnittstellenversion</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CommType" default="SOAP" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Kommunikationstyp SOAP|REST|HTTPS|FTP etc.</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="SOAP"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5"/>
							<xs:whiteSpace value="collapse"/>
							<xs:enumeration value="SOAP"/>
							<xs:enumeration value="REST"/>
							<xs:enumeration value="HTTPS"/>
							<xs:enumeration value="FTP"/>
							<xs:enumeration value="SMTP"/>
							<xs:enumeration value="EMAIL"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TransControlID" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Reference der Transaktion (wird zur Zeit nicht vewendet: 22.12.2014)

Not used at the moment</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:normalizedString">
								<xs:attribute name="UniqueFlag" use="optional" default="0">
									<xs:annotation>
										<xs:documentation>Gibt an ob die TransContollID unique ist. Wenn nicht muss zum SAP eine Uniqe ID generiert werden</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:normalizedString">
											<xs:minLength value="0"/>
											<xs:maxLength value="1"/>
											<xs:whiteSpace value="collapse"/>
											<xs:enumeration value="0"/>
											<xs:enumeration value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="TransMaxWait" default="10" nillable="false" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Maximale Wartezeit bis Response erwünscht. Die Response kann eine Referenz sein (asynchron) ODER die Response kann vom Gateway sein (synchron)</xs:documentation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="10"/>
								<altova:example value="3600"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:unsignedInt">
							<xs:minInclusive value="10" fixed="false"/>
							<xs:maxInclusive value="3600" fixed="false"/>
							<xs:totalDigits value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ArticleNo">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="12345678901234567890123456789012345"/>
					<altova:example value="AE-37263-1"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="35"/>
				<xs:whiteSpace value="collapse"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
